<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h2>The total number of user are : <%= COUNT %></h2>
    <button>Join us today</button>
    <button><a href="/user">Show all user</a></button>
</body>
</html>