<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quasi deleniti tempora, commodi ut quod quis consequatur nesciunt exercitationem iste soluta voluptate labore nisi laboriosam cupiditate repellendus totam ipsam eum?</p>
    <button>Click me</button>
    <h3><%= 1+1 %></h3>
    <h3><%="Prasadpande".toUpperCase()%></h3>
    <h3><%=["prasad","paras","aman"][0]%></h3>
</body>
</html>